/* Error: Undefined variable.
 *   ,
 * 2 |   background-color: $primary;
 *   |                     ^^^^^^^^
 *   '
 *   scss/utils/_mixins.scss 2:21       button-style()
 *   scss/components/_buttons.scss 4:3  @use
 *   scss/main.scss 8:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    background-color: $primary;\a   \2502                      ^^^^^^^^\a   \2575 \a   scss/utils/_mixins.scss 2:21       button-style()\a   scss/components/_buttons.scss 4:3  @use\a   scss/main.scss 8:1                 root stylesheet";
}
