@use '../utils/mixins' as m;

.producto-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .card-img-top {
    max-height: 250px;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .card-title {
      font-weight: 600;
    }

    .btn-custom {
      @include m.button-style;
      margin-top: 1rem;
      @extend .bounce;
    }
  }
}

.product-price {
  @include m.flex-center;
  margin: 1rem 0;
  text-align: center;
}